In [1]:
import click
import logging
from pathlib import Path
from dotenv import find_dotenv, load_dotenv
import pandas as pd 
import numpy as np 
from pycaret.classification import *

In [12]:
data = pd.read_csv("../data/raw/data.csv")
data = data.drop("customerID", axis = 1)
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [18]:
data.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [20]:
#Changing dtype
data['TotalCharges'] = data['TotalCharges'].replace(' ', np.nan)
data.TotalCharges = data.TotalCharges.astype(float)

In [17]:
#Creating pycaret setup
s = setup(data, target = "Churn", silent = False, log_experiment=True, experiment_name="churn_pred")

In [14]:
s

(None,
 {'acc': <pycaret.containers.metrics.classification.AccuracyMetricContainer at 0x24087e602e0>,
  'auc': <pycaret.containers.metrics.classification.ROCAUCMetricContainer at 0x24087e60310>,
  'recall': <pycaret.containers.metrics.classification.RecallMetricContainer at 0x24087e603a0>,
  'precision': <pycaret.containers.metrics.classification.PrecisionMetricContainer at 0x24087e604f0>,
  'f1': <pycaret.containers.metrics.classification.F1MetricContainer at 0x24087e60640>,
  'kappa': <pycaret.containers.metrics.classification.KappaMetricContainer at 0x24087e60790>,
  'mcc': <pycaret.containers.metrics.classification.MCCMetricContainer at 0x24087e60820>},
 [('Setup Config',
                                  Description            Value
   0                               session_id             4069
   1                                   Target            Churn
   2                              Target Type           Binary
   3                            Label Encoded    No: 0, Yes: 1
   4                            Original Data       (7043, 20)
   5                           Missing Values            False
   6                         Numeric Features                2
   7                     Categorical Features               17
   8                         Ordinal Features            False
   9                High Cardinality Features            False
   10                 High Cardinality Method             None
   11                   Transformed Train Set     (4930, 4697)
   12                    Transformed Test Set     (2113, 4697)
   13                      Shuffle Train-Test             True
   14                     Stratify Train-Test            False
   15                          Fold Generator  StratifiedKFold
   16                             Fold Number               10
   17                                CPU Jobs               -1
   18                                 Use GPU            False
   19                          Log Experiment             True
   20                         Experiment Name       churn_pred
   21                                     USI             522b
   22                         Imputation Type           simple
   23          Iterative Imputation Iteration             None
   24                         Numeric Imputer             mean
   25      Iterative Imputation Numeric Model             None
   26                     Categorical Imputer         constant
   27  Iterative Imputation Categorical Model             None
   28           Unknown Categoricals Handling   least_frequent
   29                               Normalize            False
   30                        Normalize Method             None
   31                          Transformation            False
   32                   Transformation Method             None
   33                                     PCA            False
   34                              PCA Method             None
   35                          PCA Components             None
   36                     Ignore Low Variance            False
   37                     Combine Rare Levels            False
   38                    Rare Level Threshold             None
   39                         Numeric Binning            False
   40                         Remove Outliers            False
   41                      Outliers Threshold             None
   42                Remove Multicollinearity            False
   43             Multicollinearity Threshold             None
   44             Remove Perfect Collinearity             True
   45                              Clustering            False
   46                    Clustering Iteration             None
   47                     Polynomial Features            False
   48                       Polynomial Degree             None
   49                    Trignometry Features            False
   50                    Polynomial Threshold             None
   51                          Group Features            False
   52                       Feature Selection            False
   53                Feature Selection Method          classic
   54            Features Selection Threshold             None
   55                     Feature Interaction            False
   56                           Feature Ratio            False
   57                   Interaction Threshold             None
   58                           Fix Imbalance            False
   59                    Fix Imbalance Method            SMOTE),
  ('X_training Set',
         tenure  MonthlyCharges  gender_Male  SeniorCitizen_1  Partner_No  \
   399     23.0       20.049999          0.0              0.0         0.0
   3512    51.0       25.000000          1.0              1.0         1.0
   4129    34.0       84.050003          1.0              0.0         0.0
   4452    70.0       86.449997          0.0              0.0         0.0
   6969     1.0       20.500000          1.0              0.0         1.0
   ...      ...             ...          ...              ...         ...
   5524    45.0       54.650002          1.0              0.0         0.0
   3428    51.0       93.800003          1.0              1.0         0.0
   37      46.0       74.800003          0.0              0.0         1.0
   4196    70.0       24.049999          0.0              0.0         0.0
   1762    35.0       89.650002          1.0              0.0         0.0

         Dependents_Yes  MultipleLines_No  MultipleLines_Yes  \
   399              1.0               1.0                0.0
   3512             0.0               0.0                1.0
   4129             1.0               1.0                0.0
   4452             0.0               1.0                0.0
   6969             0.0               1.0                0.0
   ...              ...               ...                ...
   5524             1.0               1.0                0.0
   3428             0.0               0.0                1.0
   37               0.0               1.0                0.0
   4196             1.0               0.0                1.0
   1762             1.0               0.0                1.0

         InternetService_DSL  InternetService_Fiber optic  ...  \
   399                   0.0                          0.0  ...
   3512                  0.0                          0.0  ...
   4129                  0.0                          1.0  ...
   4452                  1.0                          0.0  ...
   6969                  0.0                          0.0  ...
   ...                   ...                          ...  ...
   5524                  1.0                          0.0  ...
   3428                  0.0                          1.0  ...
   37                    0.0                          1.0  ...
   4196                  0.0                          0.0  ...
   1762                  0.0                          1.0  ...

         TotalCharges_99.95  TotalCharges_990.9  TotalCharges_994.8  \
   399                  0.0                 0.0                 0.0
   3512                 0.0                 0.0                 0.0
   4129                 0.0                 0.0                 0.0
   4452                 0.0                 0.0                 0.0
   6969                 0.0                 0.0                 0.0
   ...                  ...                 ...                 ...
   5524                 0.0                 0.0                 0.0
   3428                 0.0                 0.0                 0.0
   37                   0.0                 0.0                 0.0
   4196                 0.0                 0.0                 0.0
   1762                 0.0                 0.0                 0.0

         TotalCharges_996.45  TotalCharges_996.85  TotalCharges_997.65  \
   399                   0.0                  0.0                  0.0
   3512                  0.0                  0.0                  0.0
   4129                  0.0                  0.0                  0.0
   4452                  0.0                  0.0                  0.0
   6969                  0.0                  0.0                  0.0
   ...                   ...                  ...                  ...
   5524                  0.0                  0.0                  0.0
   3428                  0.0                  0.0                  0.0
   37                    0.0                  0.0                  0.0
   4196                  0.0                  0.0                  0.0
   1762                  0.0                  0.0                  0.0

         TotalCharges_998.1  TotalCharges_999.45  TotalCharges_999.8  \
   399                  0.0                  0.0                 0.0
   3512                 0.0                  0.0                 0.0
   4129                 0.0                  0.0                 0.0
   4452                 0.0                  0.0                 0.0
   6969                 0.0                  0.0                 0.0
   ...                  ...                  ...                 ...
   5524                 0.0                  0.0                 0.0
   3428                 0.0                  0.0                 0.0
   37                   0.0                  0.0                 0.0
   4196                 0.0                  0.0                 0.0
   1762                 0.0                  0.0                 0.0

         TotalCharges_999.9
   399                  0.0
   3512                 0.0
   4129                 0.0
   4452                 0.0
   6969                 0.0
   ...                  ...
   5524                 0.0
   3428                 0.0
   37                   0.0
   4196                 0.0
   1762                 0.0

   [4930 rows x 4697 columns]),
  ('y_training Set',
   399     0
   3512    0
   4129    0
   4452    0
   6969    1
          ..
   5524    0
   3428    1
   37      0
   4196    0
   1762    0
   Name: Churn, Length: 4930, dtype: int32),
  ('X_test Set',
         tenure  MonthlyCharges  gender_Male  SeniorCitizen_1  Partner_No  \
   6684    11.0       36.049999          0.0              0.0         1.0
   2897    43.0       26.450001          1.0              0.0         1.0
   2812    66.0      104.050003          1.0              0.0         0.0
   6       22.0       89.099998          1.0              0.0         1.0
   4346    42.0       66.400002          0.0              0.0         0.0
   ...      ...             ...          ...              ...         ...
   7014    41.0       89.199997          1.0              0.0         1.0
   639     10.0       85.250000          1.0              0.0         0.0
   1138    11.0       65.150002          1.0              0.0         0.0
   5487    33.0       20.150000          1.0              0.0         1.0
   5052    18.0       45.650002          1.0              0.0         1.0

         Dependents_Yes  MultipleLines_No  MultipleLines_Yes  \
   6684             1.0               0.0                0.0
   2897             0.0               0.0                1.0
   2812             0.0               0.0                1.0
   6                1.0               0.0                1.0
   4346             0.0               0.0                1.0
   ...              ...               ...                ...
   7014             0.0               0.0                1.0
   639              0.0               0.0                1.0
   1138             1.0               0.0                1.0
   5487             1.0               1.0                0.0
   5052             1.0               1.0                0.0

         InternetService_DSL  InternetService_Fiber optic  ...  \
   6684                  1.0                          0.0  ...
   2897                  0.0                          0.0  ...
   2812                  0.0                          1.0  ...
   6                     0.0                          1.0  ...
   4346                  1.0                          0.0  ...
   ...                   ...                          ...  ...
   7014                  0.0                          1.0  ...
   639                   0.0                          1.0  ...
   1138                  1.0                          0.0  ...
   5487                  0.0                          0.0  ...
   5052                  1.0                          0.0  ...

         TotalCharges_99.95  TotalCharges_990.9  TotalCharges_994.8  \
   6684                 0.0                 0.0                 0.0
   2897                 0.0                 0.0                 0.0
   2812                 0.0                 0.0                 0.0
   6                    0.0                 0.0                 0.0
   4346                 0.0                 0.0                 0.0
   ...                  ...                 ...                 ...
   7014                 0.0                 0.0                 0.0
   639                  0.0                 0.0                 0.0
   1138                 0.0                 0.0                 0.0
   5487                 0.0                 0.0                 0.0
   5052                 0.0                 0.0                 0.0

         TotalCharges_996.45  TotalCharges_996.85  TotalCharges_997.65  \
   6684                  0.0                  0.0                  0.0
   2897                  0.0                  0.0                  0.0
   2812                  0.0                  0.0                  0.0
   6                     0.0                  0.0                  0.0
   4346                  0.0                  0.0                  0.0
   ...                   ...                  ...                  ...
   7014                  0.0                  0.0                  0.0
   639                   0.0                  0.0                  0.0
   1138                  0.0                  0.0                  0.0
   5487                  0.0                  0.0                  0.0
   5052                  0.0                  0.0                  0.0

         TotalCharges_998.1  TotalCharges_999.45  TotalCharges_999.8  \
   6684                 0.0                  0.0                 0.0
   2897                 0.0                  0.0                 0.0
   2812                 0.0                  0.0                 0.0
   6                    0.0                  0.0                 0.0
   4346                 0.0                  0.0                 0.0
   ...                  ...                  ...                 ...
   7014                 0.0                  0.0                 0.0
   639                  0.0                  0.0                 0.0
   1138                 0.0                  0.0                 0.0
   5487                 0.0                  0.0                 0.0
   5052                 0.0                  0.0                 0.0

         TotalCharges_999.9
   6684                 0.0
   2897                 0.0
   2812                 0.0
   6                    0.0
   4346                 0.0
   ...                  ...
   7014                 0.0
   639                  0.0
   1138                 0.0
   5487                 0.0
   5052                 0.0

   [2113 rows x 4697 columns]),
  ('y_test Set',
   6684    0
   2897    0
   2812    1
   6       0
   4346    0
          ..
   7014    0
   639     1
   1138    0
   5487    0
   5052    0
   Name: Churn, Length: 2113, dtype: int64),
  ('Transformation Pipeline',
   Pipeline(memory=None,
            steps=[('dtypes',
                    DataTypes_Auto_infer(categorical_features=[],
                                         display_types=False, features_todrop=[],
                                         id_columns=[],
                                         ml_usecase='classification',
                                         numerical_features=[], target='Churn',
                                         time_features=[])),
                   ('imputer',
                    Simple_Imputer(categorical_strategy='not_available',
                                   fill_value_categorical=None,
                                   fill_value_numerical=None,
                                   numeric_strat...
                   ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                   ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                   ('cluster_all', 'passthrough'),
                   ('dummy', Dummify(target='Churn')),
                   ('fix_perfect', Remove_100(target='Churn')),
                   ('clean_names', Clean_Colum_Names()),
                   ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                   ('dfs', 'passthrough'), ('pca', 'passthrough')],
            verbose=False))],
 -1,
 [],
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='Churn',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strat...
                 ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                 ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='Churn')),
                 ('fix_perfect', Remove_100(target='Churn')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough')],
          verbose=False),
 False,
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x24087d52b50>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x24087d523a0>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x24087d52a30>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x24087d508b0>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x24087d50a90>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x24087cb9850>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x24087cb96d0>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x24087cb9910>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x24087dbf9d0>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x24087dbf430>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x24087dbf8e0>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x24087dbf8b0>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x24087d320a0>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x24087d32100>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x24087d32580>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x24087d32a00>,
  'dummy': <pycaret.containers.models.classification.DummyClassifierContainer at 0x24087d32e20>},
 0       0
 1       0
 2       1
 3       0
 4       1
        ..
 7038    0
 7039    0
 7040    0
 7041    1
 7042    0

In [15]:
s[11]

,tenure,MonthlyCharges,gender_Male,SeniorCitizen_1,Partner_No,Dependents_Yes,MultipleLines_No,MultipleLines_Yes,InternetService_DSL,InternetService_Fiber optic,...,TotalCharges_99.95,TotalCharges_990.9,TotalCharges_994.8,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_997.65,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
399,23.0,20.049999,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3512,51.0,25.000000,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4129,34.0,84.050003,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4452,70.0,86.449997,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6969,1.0,20.500000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5524,45.0,54.650002,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3428,51.0,93.800003,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,46.0,74.800003,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4196,70.0,24.049999,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1762,35.0,89.650002,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
s[12]